
$grad-btn-bg: linear-gradient(to right,#0BAB4F, #22BF85, #1EA79E);

$background-color-dark: #0b0a10;
$background-color-light: rgba(0,0,0,0.02);
$font-color-dark: #fff;
$font-color-light: #333;
$market-bg-color-dark: #232228;
$market-bg-color-dark-inner: #39383d;
$market-bg-color-light: #fff;
$market-bg-color-light-inner: #f1fdf7;

$btn-green-dark:#2BFFA6;
$btn-green-light: #20BF7C;

$text-yellow-dark: yellow;
$text-yellow-light: #FFAB00;

