@import "../styles/variable.scss";

.outlined-button {
  position: relative;
  display: block;
  padding: 3px;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 250px;
  cursor: pointer;

  .button {
    position: relative;
    display: block;
    padding: 8px 30px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
  }
}
