@import "../styles/variable.scss";

.balance-input {
  position: relative;
  margin: 12px 0 5px;
  padding: 12px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-radius: 3px;

  .max {
    display: inline-block;
    margin-right: 3px;
    padding: 3px 6px;
    text-align: center;
    cursor: pointer;
  }

  input {
    width: 90%;
    font-size: 18px;
    background: transparent;
    border: none;
    line-height: 1.5;
  }
}

// .balance-num {
//   margin: 10px 0;
//   font-size: 12px;
//   color: $font-color-dark;
//   text-align: right;
// }